html, body {
    overflow: hidden;
}

.text-center {
    text-align: center;
}

body {
    -webkit-user-select: none;
}

#home, #notification {
    background: url('../img/background.png') repeat;
    background-size: auto;
}

.transparentheader {
    background: none;
}

.transparentheader h1 {
    color: white !important;
    text-shadow: none !important;
}

.transparentheader .hearderline {
    position: absolute;
    bottom: 0px;
    width: 100%;
    border-bottom: solid 1px white;
}

#status {
    width: 400px;
    height: 350px;
    margin: 0 auto;
    background-repeat: no-repeat;
}

#status.run {
    background-image: url('../img/state_run.png');
}

.field {
    margin: 15px 0;
}

#comment {
    height: 70px;
}

#alarms_list, .notificationContainer {
    clear: both;
    margin: 5px 0;
}

.exercise {
    padding-bottom: 5px;
    color: white;
}

.exercise .li-text-sub {
    color: white;
}

#alarms_list .exercise {
    border-bottom: 1px solid white;
    background-color: transparent;
}

.exercise .name {
    font-size: 25px;
    font-weight: bold;
}

.exercise .startTime {
    font-size: 25px;
}

.exercise .comment {
    font-size: 20px;
}

.exercise .days {
    font-size: 20px;
}

.exerciseNotification {
    text-align: center;
}

.exerciseNotification .comment,
.exerciseNotification .startTime {
    margin-top: 20pt;
}

[data-icon="remove"]:after {
    -webkit-mask-image: url(../lib/tau/mobile/theme/default/images/page/00_icon_delete.png);
}